body,html{
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: rgb(114, 164, 207);
}

.container{
    margin-top: 100px;
    border-radius: 15px;
}
#btnReg{
    margin-top: 50px;
}
.table{
    text-align: center;
}
.card{
    display: flex;
    align-items: center;
}