body,html{
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: rgb(29, 59, 85);
}
.container-md{
    border-radius: 20px;
}
#btnReg{
    margin-top: 50px;
}
.table{
    text-align: center;
}
.card{
    display: flex;
    align-items: center;
}
.container{
    margin-top: 100px;
}
.scrollm{
    height: 300px;
    position: relative;
    overflow: auto;
}
.table-wrapper-scroll-y{
    display: block;
}